body {
   margin: 0;
   background-color: var(--beige);
}

/* Intro Container */

.introContainer {
   height: 80vh;
   background-image: url(../images/green-stripes.png);
   background-size: cover; /* Ensures the image covers the entire div */
   background-position: center; /* Centers the image */
   padding: 32px;
}

.introContainer .backBtn {
   position: absolute;
   color: var(--dkGreen);
}

.centerContainer {
   display: flex;
   width: 100%;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.centerContainer p {
   text-align: center;
   width: 30rem;
   font-size: 1rem;
}

.centerContainer img {
   width: fit-content;
   max-height: 40%;
   margin-bottom: 48px;
}

/* Value Container */

.valueContainer {
   display: flex;
   flex-direction: column;
   padding: 0 100px 64px 100px;
   position: relative;
   top: -48px;
   gap: 24px;
}

.valueContainer .txtSummary {
   display: flex;
   flex-direction: column;
   width: 100%;
}

details {
   background-color: var(--green);
   color: var(--beige);
   border-radius: 16px;
   padding: 2rem 2rem 2rem 11rem;;
  
	&[open] summary::after {
		rotate: -180deg;
	}
}

details h2 {
   margin: 0;
   font-family:'Titan One', Arial, Helvetica, sans-serif;
   font-weight: 400;
}

details img {
   position: absolute;
   left: 64px;
   height: 175px;
   rotate: -20deg;
}

details[open] summary {
  border-bottom: 1px solid var(--beige);
  margin-bottom: 2em;
}

details summary {
  cursor: pointer;
  transition: margin .3s ease-out;
}

summary {
   /* Override default "display: list-item" and position the summary text as well as the custom arrow icon */
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 1rem;

   /* General styling */
   background-color: var(--green);
   cursor: pointer;
   font-weight: 500;
   
   /* Fallback code to hide standard marker, especially on Safari */
   &::marker,
   &::-webkit-details-marker {
      display: none;
   }
    
   &::after {
   /* CSS for chevron shape from https://css-shape.com/chevron/ */
   --shape-chevron-width: 1rem;
   --s: calc(var(--shape-chevron-width) / 4);

   /* Styling */
   content: "";
   aspect-ratio: 7/5;
   background: currentColor;
   clip-path: polygon(0 0, 0 var(--s), 50% 100%, 100% var(--s), 100% 0, 50% calc(100% - var(--s)));
   flex-shrink: 0;
   width: var(--shape-chevron-width);
   
   /* Animation */
   rotate: 0deg;
   transition: rotate 0.35s ease;
   }

}

details {
  interpolate-size: allow-keywords;
  
  &::details-content {
    transition:
      block-size .3s,
      content-visibility 1s allow-discrete;
    overflow: hidden;
    block-size: 0;     /* Or also:  height:0; */
  }
  
  &[open]::details-content {
    block-size: auto;  /* Or also:  height:auto; */
  }
}

/* Encounter */

.encounterContainer {
   padding: 0 100px 150px 100px;
   color: var(--dkGreen);
   display: flex;
}

.encounterContainer img {
   max-height: 500px;
   max-width: 80%;
   rotate: 3deg;
   box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.encounterContainer .left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.encounterContainer .buttonContainer {
   display: flex;
   flex-wrap: wrap;
   gap: 8px;
}

.encounterContainer .outlineBtn {
  color: var(--dkGreen);
  border: solid 1px var(--dkGreen);
}

.encounterContainer h2 {
   font-family: Montserrat;
   font-size: 1.25rem;
}

/* Barbier */
.barbierContainer .left {
   display: flex;
   justify-content: center;
   align-items: center;
}

.barbierContainer .right {
   padding-left: 32px;
}

.barbierContainer .fullBtn {
  width: fit-content !important;
}

.barbierContainer {color: var(--dkGreen);}

/* Chair container */
.chairContainer {
    padding: 100px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dkGreen);
}

.chairContainer p {
    max-width: 700px;
    text-align: center;
    margin-bottom: 2rem;
}

/* All */

.encounterContainer summary, .barbierContainer summary, .barbierContainer details, .encounterContainer details {
   background-color: var(--beige);
   color: var(--dkGreen) !important;
}

.encounterContainer details, .barbierContainer details, .attenteContainer details, .venteContainer details {
   padding: .25rem 0;
   background-color: none;
   color: var(--beige);
   border-radius: 0;
}

.encounterContainer .marginBottom, .barbierContainer .marginBottom, .attenteContainer .marginBottom, .venteContainer .marginBottom {
   margin-bottom: 2.5rem;
}

.encounterContainer details p, .barbierContainer details p, .attenteContainer details p, .venteContainer details p {
   margin: 0;
}

.encounterContainer summary, .barbierContainer summary, .attenteContainer summary, .venteContainer summary {
   justify-content: flex-start;
   align-items: center;
}

.encounterContainer details[open] summary, .barbierContainer details[open] summary, .attenteContainer details[open] summary, .venteContainer details[open] summary {
    border-bottom: none;
    margin-bottom: 1rem;
}

.attenteContainer .right, .venteContainer .right {
   display: flex;
   justify-content: center;
   align-items: center;
}

.attenteContainer .left, .venteContainer .left {
   padding-right: 32px;
}

.attenteContainer, .barbierContainer, .venteContainer {
   padding: 150px 100px;
   display: flex;
}

.encounterContainer .column, .attenteContainer .column, .barbierContainer .column, .venteContainer .column  {
    width: 50%;
}

.encounterContainer h1, .attenteContainer h1, .venteContainer h1, .barbierContainer h1, .chairContainer h1 {
   font-family:'Titan One', Arial, Helvetica, sans-serif;
   font-weight: 400;
}

.attenteContainer, .venteContainer {
background-color: var(--green);
color: var(--beige);
}

.attenteContainer .fullBtn, .venteContainer .fullBtn, .bigTxt .fullBtn {
  background-color: var(--beige);
  color: var(--dkGreen);
}

.attenteContainer p, .venteContainer p, .barbierContainer p {
   margin-bottom: 16px;
}

.attenteContainer img, .barbierContainer img, .venteContainer img {
   max-width: 90%;
}

/* Big text */
.bigTxt {
   background-color: var(--green);
   display: flex;
   flex-direction: column;
   text-align: center;
   padding: 100px 150px;
   align-items: center;
   color: var(--beige);
}

.bigTxt h3 {
   max-width: 900px;
   font-family: 'Montserrat', Arial, Helvetica, sans-serif;
   font-size: 1.75rem;
   font-weight: 500;
}

.bigTxt .fullBtn {
   margin-top: 1rem;
}

/* #region mobile version */
@media screen and (max-width: 900px){

.centerContainer img {
   width: 70%;
   max-height: 100%;
   margin-bottom: 0;
}

details, .encounterContainer, .attenteContainer, .barbierContainer, .venteContainer, .chairContainer, .bigTxt {
    padding: 2.5rem 1.5rem;
}

.valueContainer {
    padding: 0 1.5rem 2.5rem 1.5rem;
}

details img {
   display: none;
}

summary {
   align-items: flex-start;
}

.encounterContainer img, .barbierContainer img {
   margin-bottom: 2rem;
}

.attenteContainer img, .venteContainer img {
   margin-top: 3rem;
}

.barbierContainer .right {
    padding-left: 0;
}

.attenteContainer .left, .venteContainer .left {
    padding-right: 0;
}

.attenteContainer img, .barbierContainer img, .venteContainer img {
   max-width: 100%;
}

}