body {
    margin: 0;
    background-color: black;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
  
* {
    box-sizing: border-box;
}

.column  {
    float: left;
}

.menuContainer .column  {
    width: 33.33%;
    height: 20vh;
    cursor: pointer;
}

.menuContainer .column:hover {
    filter: brightness(0.9);
}

.menuContainer {
    height: 40vh;
}

.mainContainer {
    padding: 100px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    color: var(--beige);
}

.mainContainer h1 {
    margin: 0;
    font-family:'Titan One', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3rem;
}

.mainContainer p {
    max-width: 800px;
}

.mainContainer .buttonContainer {
    display: flex;
    gap: 8px;
    margin-top: 2rem;
}

/* Video */
#myVideo {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  align-self: center;
  filter: brightness(40%);
}

.menuContainer #safeSpace {
    position: absolute;
    right: 4rem;
    bottom: 35vh;
    rotate: -20deg;
    z-index: 1;
    height: 200px;
}

/* Prestations */
.prestations {
    background-color: var(--red);
    display: flex;
    align-items: end;
    justify-content: space-between;
    padding: 24px;
}

.prestations h3 {
    margin: 0;
    color: var(--beige);
    font-family:'Source Serif 4', 'Times New Roman', Times, serif;
    font-size: 2.75rem;
    font-weight: 400;
    letter-spacing: -2.5px;
}

.prestations .arrowCurb {
    align-self: end;
    max-width: 20%;
    height: 100%;
}

/* Au Salon */
.auSalon {
    background-color: var(--beige);
    background-image: url(../images/green-stripes.png);
    background-size: 150%;
    background-position: center; /* Centers the image */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
}

.auSalon .logo {
    max-width: 100%;
    max-height: 90%;
    height: 7rem;
    position: absolute;
    justify-self: anchor-center;
}

.auSalon .arrow {
    align-self: end;
    height: 30%;
}

/* Events */
.events {
    background-color: var(--dkGreen);
    display: flex;
    align-items: end;
    padding: 24px;
}

.events h3 {
    margin: 0;
    color: var(--beige);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 2rem;
    letter-spacing: -1px;
    font-weight: 500;
}

/* Products */
.products {
    background-color: var(--green);
    background-image: url(../images/product_background_clear.svg);
    background-size: 200%;
    background-position: center; /* Centers the image */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.productContainer {
    display: flex;
    padding: 12px 24px;
    border-radius: 24px;
    border: solid 3px var(--beige);
    background-color: var(--green);
    justify-content: flex-end;
    align-items: flex-end;
}

.products h3 {
    margin: 0;
    color: var(--beige);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
}

.products img {
    position: absolute;
    left: 22vw;
}

/* History */
.history {
    background-color: var(--blue);
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 24px;
}

.history h3 {
    margin: 0;
    color: var(--beige);
    font-family:'Titan One', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2rem;
    text-decoration: underline solid 7px;
}

/* Portfolio */
.portfolio {
    background-image: url(../images/portfolio-grid.svg);
    background-size: 200%;
    background-position: center; /* Centers the image */
    background-size: cover;
    background-color: var(--yellow);
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 12px 24px;
}

.portfolio h3 {
    margin: 0;
    color: var(--beige);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    letter-spacing: -1px;
    font-weight: 500;
}

/* #region mobile version */
@media screen and (max-width: 900px){

.mobileOverlay {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 2rem;

    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: var(--green);
    color: var(--beige);
}

.mobileOverlay h1 {
    font-family:'Titan One', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;
}

.mainContainer {
    padding: 2rem;
}

.mainContainer .buttonContainer {
    flex-direction: column;
}

.mainContainer .buttonContainer .outlineBtn {
    width: fit-content;
}

#safeSpace {display: none;}

.products img {
    position: absolute;
    left: 70vw;
}
/* 
.menuContainer {display: none;}
*/
}
