body {
    background-color: var(--yellow);
    color: #ffffff;
    margin: 150px 100px;
}

.backBtn img {
    filter: invert(100%) brightness(150%);
}

h1 {
    margin: 0;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 4rem;
    letter-spacing: -1px;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.elfsight-app-a365f1da-d40c-46d0-8baa-2795e6c0d3ad a {
    display: hidden !important;
}