body {
    margin: 0;
    background-image: url("../images/product_background_clear.svg");
    background-size: auto; 
    background-position: center; /* Centers the image */
    background-color: #7A8E5B;
    color: var(--beige);
}

.backBtn {background-color: #7A8E5B;}

.backBtn img {
    filter: invert(1) sepia(1);
}

.topContainer {
    padding: 32px;
    width: fit-content;
}

.introContainer {
    padding: 100px;
    display: flex;
    justify-content: center;
}

.productContainer {
    display: flex;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: solid 3px var(--beige);
    background-color:  #7A8E5B;
    justify-content: flex-end;
    align-items: flex-end;
}

.productContainer h2 {
    margin: 0;
    color: var(--beige);
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 2.5rem;
}

.introContainer img {
    position: relative;
    top: -48px;
    left: -128px;
}

.videoContainer {
    padding: 24px 150px 100px 150px;
    display: flex;
    gap: 4rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.videoContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product {
    display: block;
    background-color: var(--beige);
    color: var(--dkGreen);
}

.videoContainerSmall {
    background-color: black;
    width: 350px;
    height: 600px;
}

.product .txtContainer {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.product .txtContainer p {
    margin: 0;
    text-align: center;
    font-weight: 600;
}

.product .txtContainer .brand {
    text-transform: uppercase;
    font-size: 0.75rem;
    font-weight: 400;
}

/* #region mobile version */
@media screen and (max-width: 900px){

body {
    background-size: auto;
}    

.productContainer h2 {
    font-size: 2rem;
}

.productContainer img {
    top: 120px;
}

.introContainer {
    padding: 3rem 2rem;
}

}