:root {
  --dkGreen: #012B12;
  --green: #5D713E;
  --beige: #FFEFD6;
  --red: #AA2C2E;
  --blue: #1A458A;
  --yellow: #E29527;
}

/* Fonts */
@font-face {
  font-family: Montserrat; /* set name */
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf); /* url of the font */
}

@font-face {
  font-family: 'Montserrat Italic'; /* set name */
  src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf); /* url of the font */
}

@font-face {
  font-family: Titan One; /* set name */
  src: url(../fonts/Titan_One/TitanOne-Regular.ttf); /* url of the font */
}

@font-face {
  font-family: 'Source Serif 4'; /* set name */
  src: url(../fonts/Source_Serif_4/SourceSerif4-VariableFont_opsz\,wght.ttf); /* url of the font */
}

@font-face {
  font-family: 'Source Serif 4 Italic'; /* set name */
  src: url(../fonts/Source_Serif_4/SourceSerif4-Italic-VariableFont_opsz\,wght.ttf); /* url of the font */
}

/* Fade in animation */
.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 0.8s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.fadeIn {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

* {
  box-sizing: border-box;
}

.column  {
    float: left;
}

p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 150%;
}

li {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 150%;
}

h3 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.fullBtn {
  background-color: var(--green);
  color: var(--beige);
  padding: 12px 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: -4px 4px #012B12;
}

.fullBtn:hover {
  filter: brightness(0.9);
}

.outlineBtn {
  color: var(--beige);
  padding: 12px 16px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 4px;
  border: solid 1px var(--beige);
}

.outlineBtn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.backBtn {
  display: flex;
  gap: 16px;
  font-size: 1.125rem;
  font-weight: 300;
  cursor: pointer;
}

.booksy-widget-button {
  background-image: none !important;
  background-color: var(--green);
}

.booksy-widget-container-dialog {
  position: absolute;
}

.buttonContainer .fullBtn {
  width: fit-content !important;
}

.booksy-business-link {
  background-image: none !important;
}

.footer {
  padding: 2rem 4rem;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.footer .logo img {
  width: 100px;
  cursor: pointer;
}

.footer .adresse {width: 100%;}

.footer .adresse h2 {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: var(--beige);
}

.footer .adresse a {
  text-decoration: none;
}

.footer .liens {
  display: flex;
  gap: 2rem;
}

.footer .liens a {
  text-decoration: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: var(--beige);
}

.footer a:hover {
  text-decoration: underline solid var(--beige);
}

.footer .arrowContainer img {
  height: 64px;
  cursor: pointer;
}



/* #region mobile version */
@media screen and (max-width: 900px){

.column {
  float: none !important;
  width: 100% !important;
}

.left, .right {
  width: 100% !important;
}

.row {
  display: block;
}

.footer {
  padding: 2rem;
  flex-direction: column;
  gap: 1rem;
}

.footer .adresse h2 {text-align: center;}

.fullBtn, .outlineBtn, .backBtn {
  font-size: 1rem;
}

}