:root {
  --dkGreen: #012B12;
  --green: #5D713E;
  --beige: #FFEFD6;
  --red: #AA2C2E;
  --blue: #1A458A;
  --yellow: #E29527;
}

p {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

h3 {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.fullBtn {
  background-color: var(--green);
  color: #FFEFD6;
  padding: 12px 16px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: -4px 4px #012B12;
}

.outlineBtn {
  background-color: none;
  color: #FFEFD6;
  padding: 12px 16px;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 4px;
  border: solid 1px var(--beige);
}

.backBtn {
  display: flex;
  gap: 16px;
  font-size: 1.125rem;
  font-weight: 300;
  cursor: pointer;
}